html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #8c919c;
}
.imageViewerContainer{
    width: 100%;
    height: 100%;
    position: relative;
}
.scaleBox{
    position: absolute;
    left:0;
    bottom: 0;
    padding: 6px;
    background: #293245;
    border: 1px solid #3c5167;
    z-index: 999;
}
.scaleCanvas{
    position: relative;
    width: 200px;
    overflow: hidden;
    z-index: 999;
    cursor: pointer;
}
.scalePanel{
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    color: #fff;
}
.uploadImage{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 998;
}

/*
    加载动画
*/
.loaderBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.box {
    display: inline-block;
    width: 100px;
    height: 100px;
    color: #fff;
    font-size: 60px;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    z-index: 999;
    -webkit-transition: .3s color, .3s border, .3s transform, .3s opacity;
    transition: .3s color, .3s border, .3s transform, .3s opacity;
}

.loader {
    width: 100%;
    height: 100%;
    position: relative;
    pointer-events: none;
}

.loader:after,
.loader:before {
    position: absolute;
    content: "";
}

.loader:after {
    height: 0.1em;
    width: 1em;
    background-color: currentcolor;
    border-radius: 0.1em;
    bottom: calc(50% - 0.15em);
    left: calc(50% - 0.5em);
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-animation: loader-line 0.8s ease-in-out infinite alternate;
    animation: loader-line 0.8s ease-in-out infinite alternate;
}

.loader:before {
    height: .2em;
    width: .2em;
    background-color: currentcolor;
    border-radius: 50%;
    top: 0;
    left: calc(50% - 0.1em);
    -webkit-animation: loader-ball 0.4s ease-in-out infinite alternate;
    animation: loader-ball 0.4s ease-in-out infinite alternate;
}

@-webkit-keyframes loader-ball {
    0% {
        height: .24em;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    75% {
        height: .2em;
        width: .2em;
    }
    100% {
        height: .1em;
        width: .24em;
        -webkit-transform: translateY(0.8em);
        transform: translateY(0.8em);
    }
}

@keyframes loader-ball {
    0% {
        height: .24em;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    75% {
        height: .2em;
        width: .2em;
    }
    100% {
        height: .1em;
        width: .24em;
        -webkit-transform: translateY(0.8em);
        transform: translateY(0.8em);
    }
}

@-webkit-keyframes loader-line {
    0% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

@keyframes loader-line {
    0% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}